.happy-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.happy-scroll-strip {}
.happy-scroll-strip--vertical {
    position: absolute;
    right: 0px;
    top:0;
    height: 100%;
}
.happy-scroll-strip--vertical .scrollBar {
    background-color: rgba(51,51,51,0.2);
    border-radius: 7px;
    width: 4px;
    height:0;
}
.happy-scroll-strip--horizontal {
    position: absolute;
    bottom: 0px;
    left:0;
    width: 100%;
}
.happy-scroll-strip--horizontal .scrollBar {
    background-color: rgba(51,51,51,0.2);
    border-radius: 7px;
    height: 4px;
    width:0;
}
/* 在webkit内核下将滚动条隐藏，Firefox下采用容器覆盖的机制 */
.happy-scroll-container::-webkit-scrollbar  {
  display: none;
}
.happy-scroll-container {
    margin-right: -17px;
    margin-bottom: -15px;
    overflow: auto;
}
.happy-scroll-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.happy-scroll-container:hover .happy-scroll-strip {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear;
}
